{% extends 'layout.html' %}
{% block content %}
<div class="col-12">
	
	<h2>Delivery Detail</h1>

	<table class="table text-center mt-4 border table-striped">
		<thead class="thead-dark table-striped">
    		<th>ID</th>
    		<th>Address</th>
    		<th>Phone</th>
    		<th>Zip Code</th>
    		<th>Time</th>
    		<th><th>
  		</thead>
  		
	  		<tr>
	  			<td>{{order.id}}</td>
	    		<td>{{order.address}}</td>
	    		<td>{{order.phone}}</td>
	    		<td>{{order.zip_code}}</td>
	    		<td>{{order.time}}</td>
	    		<td ><a href="#">Detail</a></td>
	  		</tr>
  	</table>
  	<h2>Ordered Item</h2>
  	{% for item in items %}
  	<ul>
  		<li>{{item.item.title}}</li>
  	</ul>
  	{% endfor %}
</div>
{% endblock %}